streamlit
langchain
langchain-core
langchain-community
langchain-mistralai
mistralai

tavily-python

beautifulsoup4
requests
lxml

python-dotenv

pandas
numpy

faiss-cpu

pypdf

duckduckgo-search

tiktoken

aiohttp

sentence-transformers

chromadb